.App {
  text-align: center;
}

.root {
  display: flex;
  flex-flow: column wrap;
  align-items: space-around;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: rgb(248, 245, 242);
  margin: 30;
}

.copy {
  margin: 0.2em 0;
  text-align: center;
}

.letter {
  display: inline-block;
  font-family: "Comic Sans MS", "Comic Sans";
}
.h1 {
  font-size: 5em;
  font-weight: 700;
  /* font-style: italic; */
  letter-spacing: 0.3em;
  color: rgb(10, 157, 174);
}
.navbar {
  font-size: 24px;
  font-family: "Comic Sans MS", "Comic Sans";
  color: rgb(248, 245, 242) !important ;
}
.link {
  cursor: pointer;
}
.resources {
  background-color: rgb(248, 245, 242);
  font-family: "Comic Sans MS", "Comic Sans" !important;
  color: rgb(10, 157, 174) !important;
}
.pageHeader {
  background-color: rgb(248, 245, 242);
  font-family: "Comic Sans MS", "Comic Sans" !important;
  color: rgb(10, 157, 174) !important;
  font-size: 42px !important;
  margin: 0 !important;
  padding: 30px !important;
  font-weight: 100 !important;
  text-shadow: 2px 2px 2px grey;
}
.background {
  background-color: rgb(248, 245, 242) !important;
}
.welcomeCard {
  box-shadow: 10px 10px 5px grey !important;
  margin: 40px !important;
}
.cardImage {
  max-height: 70% !important;
  min-height: 70% !important;
}
.content {
  font-family: "Comic Sans MS", "Comic Sans" !important;
  color: rgb(10, 157, 174) !important;
}
.footer {
  display: block;
  height: 300px;
}
.videoGrid {
  margin: 50px;
}
.webcam {
  height: 620px;
  width: 800px;
}
.bargraph {
  background-color: white;
  box-shadow: 10px 10px 5px grey !important;
}
.table {
  box-shadow: 10px 10px 5px grey !important;
}

.reportHeader {
  /* font-size: 30px; */
  font-weight: 100 !important;
}
.formLabel {
  font-family: "Comic Sans MS", "Comic Sans" !important;
  color: rgb(10, 157, 174) !important;
  font-size: 20px !important;
}
.cardSize {
  height: 400px !important;
  width: 350px !important;
}
.journal {
  background-color: white;
  box-shadow: 10px 10px 5px grey !important;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
}
.journalForm {
  padding: 20px;
}

.audioJournal {
  margin-left: 300px;
  margin-right: 300px;
  padding-top: 50px;
}
.audioButton {
  margin: 10px !important;
}
.videoJournal {
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 200px;
  padding-top: 20px;
}
