.App {
  text-align: center;
}

.root {
  display: flex;
  flex-flow: column wrap;
  align-items: space-around;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: rgb(248, 245, 242);
  margin: 30;
}

.copy {
  margin: 0.2em 0;
  text-align: center;
}

.letter {
  display: inline-block;
  font-family: "Comic Sans MS", "Comic Sans";
}
.h1 {
  font-size: 5em;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.3em;
  color: rgb(10, 157, 174);
}
.navbar {
  font-size: 24px;
  font-family: "Comic Sans MS", "Comic Sans";
  color: rgb(248, 245, 242) !important ;
}
.link {
  cursor: pointer;
}
.resources {
  background-color: rgb(248, 245, 242);
  font-family: "Comic Sans MS", "Comic Sans" !important;
  color: rgb(10, 157, 174) !important;
}
.pageHeader {
  background-color: rgb(248, 245, 242);
  font-family: "Comic Sans MS", "Comic Sans" !important;
  color: rgb(10, 157, 174) !important;
  font-size: 42px !important;
  margin: 0 !important;
  padding: 30px !important;
  font-weight: 100 !important;
  text-shadow: 2px 2px 2px grey;
}
.background {
  background-color: rgb(248, 245, 242) !important;
}
.welcomeCard {
  box-shadow: 10px 10px 5px grey !important;
  margin: 40px !important;
}
.cardImage {
  min-height: 100% !important;
  /* width: 200px !important; */
}
.content {
  font-family: "Comic Sans MS", "Comic Sans" !important;
  color: rgb(10, 157, 174) !important;
}
.footer {
  display: block;
  height: 300px;
}
.videoGrid {
  margin: 50px;
}
.webcam {
  height: 620px;
  width: 800px;
}
.bargraph {
  height: 400px;
  width: 600px;
}
